@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant&display=swap');
/* RESET */

* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}

body {
    font-family: 'Ysabeau Infant', sans-serif;
}
h1 {
    color: #000;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fff;
}

header img {
    width: 310px;
}

header nav div div ul {
    list-style: none;
    display: flex;
}

header nav div div ul li a {
    text-decoration: none;
    color: black;
    margin-right: 14px;
    font-size: 21px;
    font-weight: 700;
     font-family: 'Ysabeau Infant', sans-serif;
}




@media screen and (max-width:764px) {
    header img{
        width: 260px; 
    }
}

/* MAIN */

.imagen-home div div img {
    width: 100%;
    height: calc(70vh);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    text-align: center;
    border-top: 1px solid;
    border-bottom: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}

.imagen-nosotros {
    width: 100%;
    height: calc(70vh);
    background-image: url(../img/imagenosotros.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    margin-bottom: 40px;
    text-align: center;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.imagen-productos {
    width: 100%;
    height: calc(70vh);
    background-image: url(../img/imagen-productos.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    border-top: 1px solid;
    border-bottom: 1px solid;
    color: black;
    text-align: center;
    margin-bottom: 20px;
}

.imagen-contacto {
    width: 100%;
    height: calc(70vh);
    background-image: url(../img/contact-image.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    color: black;
    text-align: center;
    margin-bottom: 20px;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

/* SECTION BIENVENIDOS */

.bienvenidos {
    text-align: center;
    color: #5e5e5e;
}

.bienvenidos h2 {
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 33px;
}

.bienvenidos p {
    width: 60%;
    margin-left: 20%;
    font-size: 22px;
    margin-bottom: 58px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

@media screen and (max-width:1600px) {
    .bienvenidos p {
        width: 80%;
        margin-left: 10%;
    }
}
@media screen and (max-width:1400px) {
    .bienvenidos h2 {
        font-size: 30px;
    }
    .bienvenidos p {
        font-size: 20px;
    }
}
@media screen and (max-width:1100px) {
    .bienvenidos h2 {
        font-size: 27px;
    }
    .bienvenidos img {
        width: 487px;
    }
    .bienvenidos p {
        font-size: 19px;
    }
}
@media screen and (max-width:764px) {
    .bienvenidos h2 {
        font-size: 25px;
    }
    .bienvenidos img {
        width: 487px;
    }
    .bienvenidos p {
        font-size: 18px;
    }
}
@media screen and (max-width:520px) {
    .bienvenidos h2 {
        font-size: 22px;
    }
    .bienvenidos img {
        width: 324px;
    }
    .bienvenidos p {
        font-size: 16px;
    }
}
@media screen and (max-width:420px) {
    .bienvenidos h2 {
        font-size: 18px;
    }
    .bienvenidos img {
        width: 280px;
    }
    .bienvenidos p {
        font-size: 15px;
    }
}
/* SECTION TARJETAS */
.tarjetas {
    border-top: 0.5px solid;
    border-bottom: 0.5px solid;
    border-color: #5e5e5e;
    display: flex;
    flex-direction: column;
}

.tarjetas>div {
    display: flex;
    flex-direction: row;
}

.tarjetas-fila-flex {
    width: 50%;
}

.tarjetas-fila-flex div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.background1 {
    background-color: cornsilk;
    display: flex;
    flex-direction: column;
    color: #5e5e5e;
}

.background1 h2 {
    padding-top: 60px;
    padding-left: 64px;
    margin-bottom: 41px;
    font-size: 40px;
}

.background1 img {
    width: 68px;
    margin: 30px 35px 30px 50px;
}

.background1 p {
    font-size: 20px;
}

.background2 {
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
    color: #fff;
}

.background2 img {
    width: 68px;
    margin: 30px 35px 30px 50px;
}

.background2 h2 {
    padding-top: 60px;
    padding-left: 64px;
    margin-bottom: 41px;
    font-size: 40px;
}

.background2 p {
    font-size: 20px;
}

.boton-background1 {
    text-decoration: none;
    font-size: 18px;
    border-radius: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 35px;
    padding-right: 35px;
    font-size: 20px;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 45px;
    color: #5e5e5e;
    border: 1px solid #5e5e5e;
}

.boton-background1:hover {
    color: #FFF8DC;
    background-color: #5e5e5e;

}

.boton-background2 {
    text-decoration: none;
    font-size: 18px;
    border-radius: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 35px;
    padding-right: 35px;
    font-size: 20px;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 45px;
    color: #fff;
    border: 1px solid #fff;
}
.boton-background2:hover {
    color: #6495ED;
    background-color: #fff;
}
.imagen-tarjeta-arquitecto {
    height: auto;
    background-image: url(../img/arquitecto.jpg);
    background-position: center;
    background-repeat: no-repeat;
    color: black;
    text-align: center;
}
.imagen-tarjeta-trabajador {
    height: auto;
    background-image: url(../img/trabajador.jpg);
    background-position: center;
    background-repeat: no-repeat;
    color: black;
    text-align: center;
}
@media screen and (max-width:1440px) {
    .tarjetas-fila-flex {
        width: 60%;
    }
    .imagen-tarjeta-arquitecto {
        width: 40%;
    }
    .imagen-tarjeta-trabajador {
        width: 40%;
    }
    .background1 h2 {
        padding-top: 40px;
        font-size: 35px;
    } 
    .background1 p {
        font-size: 18px;
    }    
    .background2 h2 {
        padding-top: 40px;
        font-size: 35px;
    }    
    .background2 p {
        font-size: 18px;
    }
}
@media screen and (max-width:1200px) {
    .tarjetas-fila-flex {
        width: 70%;
    }
    .imagen-tarjeta-arquitecto {
        width: 30%;
    }
    .imagen-tarjeta-trabajador {
        width: 30%;
    }
    .imagen-tarjeta-arquitecto {
        background-image: url(../img/arquitectoresp.png);
    }
    .imagen-tarjeta-trabajador {
        background-image: url(../img/trabajadorresp.jpg);
    }
}
@media screen and (max-width:800px) {
    .tarjetas-fila-flex {
        width: 100%;
    }
    .imagen-tarjeta-arquitecto {
        display: none;
    }
    .imagen-tarjeta-trabajador {
        display: none;
    }
    .background1 h2 {
        font-size: 30px;
    }
    .background1 p {
        font-size: 17px;
    }
    .background2 h2 {
        font-size: 30px;
    } 
    .background2 p {
        font-size: 17px;
    }
}

/* SECTION DESCARGA AHORA */
.descarga-ahora {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E5E5;
    color: #000;
}

.descarga-ahora h2 {
    margin-top: 50px;
    margin-bottom: 30px;
}

.descarga-ahora img {
    width: 200px;
    margin-right: 40px;
    margin-bottom: 50px;
}

.descarga-ahora div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.descarga-ahora h2 {
    margin-top: 50px;
    margin-bottom: 30px;
}

@media screen and (max-width:1440px) {
    .descarga-ahora h2 {
        margin-top: 30px;
        font-size: 26px;
    }    
}
@media screen and (max-width:800px) {
    .descarga-ahora h2 {
        margin-top: 26px;
        font-size: 23px;
    }    
}
@media screen and (max-width:600px) {
    .descarga-ahora div {
        flex-direction: column;
    }    
    .descarga-ahora img {
        width: 170px;
        margin-right: 0px;
        margin-bottom: 30px;
    }
}
@media screen and (max-width:450px) {
    .descarga-ahora h2 {
        margin-top: 25px;
        font-size: 17px;
    }
    
        
}
/* SECTION TRABAJOS */
.trabajos {
    text-align: center;
    color: #5e5e5e;
}
.trabajos h2 {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 25px;
}
.trabajos>div {
    display: flex;
    flex-direction: row;
}
.trabajos img {
    margin-bottom: 15px;
}
.trabajos-contenedor {
    width: 50%;
    display: flex;
    flex-direction: row;
}
.trabajos-contenedor>div {
    margin-bottom: 40px;
}

.trabajos-tarjeta {
    border: 1px solid;
    width: 80%;
    margin-left: 10%;
    padding-bottom: 30px;
}
.trabajos-tarjeta img {
    width: 100%;
}
@media screen and (max-width:1440px) {
    .trabajos-contenedor {
        flex-direction: column;
    }

    .trabajos-tarjeta {
        width: 70%;
        margin-left: 15%;
    }
}
@media screen and (max-width:1200px) {
    .trabajos>img {
        width: 467px;
    }
}

@media screen and (max-width:900px) {
    .trabajos>img {
        width: 370px;
    }

    .trabajos>div {
        flex-direction: column;
    }

    .trabajos-contenedor {
        width: 100%;
    }
}

@media screen and (max-width:420px) {
    .trabajos>img {
        width: 20px;
    }
}

/* SECTION TESTIMONIOS */
/* .testimonios{
    display:flex;
    flex-direction: column;
    align-items: center;
    color: #5e5e5e;
    margin-top: 30px;
  
}

.testimonios h2{
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 25px;   
}
.testimonios p{
    margin-bottom: 80px;
}
.testimonios img{
    width: 460px;
    margin-bottom: 30px;
    /* display: block; */
/* } */

/* .testimonios>div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.testimonios div div {
    padding: 20px;
    width: 14%;
    background-color: #f2f4ff;
    text-align: center;
} */
/* SECTION PRODUCTO */

.productos-inicio{
    text-align: center;
    color: #5e5e5e;
}
.productos-inicio h2 {
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 33px;
}
.productos-inicio p {
    width: 60%;
    margin-left: 20%;
    font-size: 22px;
    margin-bottom: 58px;
    display: flex;
    flex-direction: column;
}
.productos {
    display: flex;
    flex-direction: column;
}
.productos-izq {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    background-color: #F2F4FF;
    padding: 20px;
}
.productos-der {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}
.productos-izq div img {
    width: 480px;
}
.productos-izq div h2 {
    margin-top: 95px;
}
.productos-der div img {
    width: 480px;
}
.productos-der div h2 {
    margin-top: 95px;
}
.productos>div>div {
    max-width: 600px;
}
.otros{
    border-top: 1px solid #5E5E5E;
    padding-top: 10px;
    text-align: center;
    margin-bottom: 40px;
}
.otros h2{
    color: #5E5E5E;
}
.otros > img{
    margin-bottom: 30px;
}
.otros-productos{
    margin-left: 10%;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 350px;
    gap: 15px;
}
.otros-productos div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media screen and (max-width:1600px) {
   .otros-productos{ 
        width: 90%;
        margin-left: 5%;
   }
   .productos-inicio h2 {
    font-size: 30px;
}
.productos-inicio p {
    width: 80%;
    margin-left: 10%;
    font-size: 19px;
}
}
@media screen and (max-width:1200px) {
    .otros-productos{ 
        margin-left: 10%;
        width: 80%;
        grid-template-columns: repeat(2, 1fr);
    }
    .productos-izq {
        flex-direction: column-reverse;
        text-align: center;
    }
    .productos-der {
        flex-direction: column-reverse;
        text-align: center;
    }
    .productos>div>div {
        max-width: none;
    }
    .productos-izq div h2 {
        margin-top: 0px;
    }
    .productos-der div h2 {
        margin-top: 0px;
    }
    .productos-inicio h2 {
        font-size: 27px;
    }
    .productos-inicio p {
        font-size: 17px;
        /* align-items: center; */
    }
 }
 @media screen and (max-width:900px) {
    .otros-productos{ 
        margin-left: 10%;
        width: 80%;
        grid-template-columns: 1fr;
    }
    .productos-inicio h2 {
        font-size: 25px;
    }
    
    .productos-inicio p {
        font-size: 15px;
        /* align-items: center; */
    }
    .productos-inicio img{
        width: 300px;
    }
    .otros img{
        width: 300px;
    }
 }
 @media screen and (max-width:600px) {
    .productos-izq div img {
        width: 300px;
    }
    .productos-der div img {
        width: 300px;
    }
 }

/* SECTION NOSOTROS */
.nosotros-fundador{
    margin-bottom: 40px;
}
.nosotros-fundador h2{
    text-align: center;
    background-color: #E5E5E5;
    margin-bottom: 20px;
}
.nosotros-fundador .fundador-contenedor{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.nosotros-fundador .fundador-contenedor > div:nth-child(even){
    width: 20%;
}
.nosotros-fundador .fundador-contenedor .fundador-parrafos{
    width: 50%;
    padding-top: 30px;
    margin-right: 40px;
}
.nosotros-fundador .fundador-contenedor div p{
    margin-bottom: 45px;
}
.nosotros-inicio{
    text-align: center;
    color: #5e5e5e;
    margin-bottom: 40px;
}
.nosotros-inicio h2 {
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 33px;
}
.nosotros-inicio p {
    width: 60%;
    margin-left: 20%;
    font-size: 22px;
    margin-bottom: 58px;
    display: flex;
    flex-direction: column;
}

.nosotros-comienzo >div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 40px;
    align-items: center;
}
.nosotros-comienzo h2{
    text-align: center;
    background-color: #E5E5E5;
    margin-bottom: 20px;
}
.nosotros-comienzo div img{
    width:30% ;
}
.nosotros-comienzo > div >div{
    width: 50%;
}
/* .nosotros-comienzo div h2{
    margin-bottom: 20px;
} */
.nosotros-comienzo div div p{
    margin-bottom: 50px;
}
.primeros-proyectos{
    margin-bottom: 30px;
}
.primeros-proyectos h2{
    text-align: center;
    background-color: #E5E5E5;
    margin-bottom: 20px;
    
}
.primeros-proyectos div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.primeros-proyectos div img{
    width: 25%;
    margin-bottom: 20px;
}
@media screen and (max-width:1400px) {
    .nosotros-fundador .fundador-contenedor > div:nth-child(odd){
        width: 60%;
    }
 }
 @media screen and (max-width:1050px) {
    .nosotros-fundador .fundador-contenedor{
        flex-direction: column-reverse;
    }
    .nosotros-fundador .fundador-contenedor .fundador-parrafos{
        width: 80%;
        margin-left: 10%;
    }
    /* .nosotros-fundador .fundador-contenedor > div:nth-child(even){
       width: auto;
    } */
    .nosotros-comienzo >div {
        flex-direction: column-reverse;
    }
    .nosotros-comienzo > div >div{
        width: 75%;
    }
    .nosotros-comienzo div img{
        width:50% ;
    }
    .primeros-proyectos div img{
        width: 40%;
    }
    .nosotros-comienzo div p{
        font-size: 15px;
    }
    .nosotros-fundador .fundador-contenedor div p{
        font-size: 15px;
    }
 }
 @media screen and (max-width:750px) {
    .nosotros-comienzo div img{
        width:65% ;
    }
    .primeros-proyectos div img{
        width: 53%;
    }
 }
 @media screen and (max-width:500px) {

    .primeros-proyectos div img{
        width: 65%;
    }
 }
/* SECTION SERVICIOS */
.servicios-main{
    
}
.servicios-main > div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
}
.servicios-main div div img{
    
}
.servicios-main > div > div{
    width: 12%;
    margin-right: 60px;
}
.servicios-main  div  div  img{
    margin-bottom: 10px;
}
.servicios-main  div  div  div{
    margin-bottom: 15px;
    font-size: 20px;
}
.servicios-personaliza{
    background-color:#F2F4FF;
    padding-top: 20px;
}
.servicios-personaliza>div{
    display: flex;
    flex-direction: column;
    width: 44%;
    margin-left: 28%;
}
.servicios-personaliza div .parrafos-personaliza{
    display: flex;
    flex-direction: row;
}
.servicios-personaliza div .parrafo-personaliza-1{
    font-size: 50px;
    line-height: 50px;
    margin-right: 45px;
    padding-left: 15px;
}
.servicios-personaliza div .parrafo-personaliza-2{
    padding-top: 10px;
    padding-right: 65px;
}

@media screen and (max-width:1500px) {

    .servicios-main{
    }
    
    .servicios-main > div > div{
        width: 16%;
    }
    .servicios-personaliza div .parrafos-personaliza{
        flex-direction: column;
    }
    .servicios-personaliza div .parrafo-personaliza-1{
        padding-left: 0px;
    }
    .servicios-personaliza div .parrafo-personaliza-2{
        padding-right: 0px;
    }
    .servicios-personaliza>div{
        width: 50%;
        margin-left: 25%;
    }
 }
 @media screen and (max-width:1200px) {
    .servicios-main > div{
        justify-content: space-evenly;
    }
    .servicios-main > div > div{
        width: 20%;
    }
    .servicios-personaliza>div{
        width: 60%;
        margin-left: 20%;
    }
 }
 @media screen and (max-width:900px) {
    .servicios-main > div > div{
        width: 30%;
    }
    .servicios-personaliza>div{
        width: 70%;
        margin-left: 15%;
    }
 }
 @media screen and (max-width:600px) {
    .servicios-main > div{
        flex-direction: column;
    }
    .servicios-main > div > div{
        width: 100%;
    }
    .servicios-main div div p{
        width: 80%;
        margin-left: 10%;
    }
 }
/*SECTION CONTACTO */
.contacto {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.contacto > div {
    width: 42%;
    padding-left: 45px;
    padding-top: 25px;
}
.map-responsive{
    display: none;
}
.map-responsive1{
    display: none;
}
form div input {
    width: 300px;
    margin-right: 40px;
    margin-bottom: 20px;
    height: 30px;
    font-size: 20px;
    border: 1px solid gray;
    border-top: none;
    border-left: none;
    border-right: none;
}
@media screen and (max-width:1200px) {
    .contacto {
        flex-direction: column-reverse
    }
    .contacto > div {
        width: 80%;
        margin-left: 5%;
    }
}
@media screen and (max-width:650px) {

    .map {
        display: none;
    }
    .map-responsive{
        text-align: center;
        display: block;
    }
    .contacto > div {
        width: 80%;
        margin-left: 0%;
    }
}
@media screen and (max-width:570px) {

    .map-responsive1 {
        display: block;
    }
    .map-responsive{
        display: none;
    }
}
.producto div {
    width: 250px;
    height: 350px;
    border: 2px solid black;
    text-align: center;
}
.producto div img {
    width: 300px;
    height: 250px;
}
.boton {
    text-decoration: none;
    color: white;
    background-color: #5e5e5e;
    font-size: 18px;
    padding-right: 25px;
    border-radius: 40px;
    padding-left: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
@media screen and (max-width:1640px) {
    .contenedor {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }


}


.contenedor50 div {
    padding-left: 35px;
}

.contenedor .contenedor20 {
    width: 20%;
}

.divisor {
    width: 49%;
    display: inline-block;
    text-align: center;
}

form div textarea {
    font-size: 20px;
    border: 1px solid gray;
    border-top: none;
    border-left: none;
    border-right: none;
}

/* FOOTER */
footer {
    padding: 20px;
    height: 200px;
    background-color: #e5e5e5;
}

footer div img {
    margin-right: 12px;
    width: 45px;
}

footer div div h2 {
    color: #5e5e5e;
    font-size: 21px;

}

footer div div ul {
    list-style: none;
}

footer div div ul li a {
    text-decoration: none;
    color: #5e5e5e;
    margin-right: 14px;
    font-size: 19px;
    font-weight: 100;
}

.footer-contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

.footer-contenedor-flex {
    width: 20%;
}

.footer-contenedor-flex h2 {
    margin-bottom: 8px;
}

.footer-contenedor-flex .descarga {
    display: block;
    margin-bottom: 10px;
    width: 120px;
}

@media screen and (max-width:950px) {
    .footer-contenedor-flex {
        width: auto;

    }

    footer {
        height: auto;
    }
}

/* BOOTSTRAP */
.accordion-button:not(.collapsed){
    color:#000 !important;
    background-color: #E5E5E5 !important;
}
/* .accordion-button{
    display: block !important;
    text-align: center !important;
} */